.mvn/**
.metadata
*.jfr
/*/logs/*
/*/build/*
*.project
*.settings
*.classpath
*.eml
*.iml
.idea
*burst-git.properties
*/tmp/
*/logs/
.gradle
*/target/*
.atlassian-ide-plugin.xml
quo-*.seq
*.cache-*
atlassian-ide-plugin.xml
derby.log
target/
!/burst-motif/src/test/java/com/flurry/burst/motif/test/MotifJsonSpec.java
# stack dump logs
hs_err_pid*.log

**/*/dependency-reduced-pom.xml
*/dependency-reduced-pom.xml
**/*/.flattened-pom.xml
.flattened-pom.xml
dependency-reduced-pom.xml

.factorypath

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
certs/

burst-dash/src/react/node_modules/
burst-dash/src/main/resources/static/*.js
burst-dash/src/main/resources/static/*.map
burst-dash/src/main/resources/static/*.eot
burst-dash/src/main/resources/static/*.svg
burst-dash/src/main/resources/static/*.ttf
burst-dash/src/main/resources/static/*.css
burst-dash/src/main/resources/static/*.woff
burst-dash/src/main/resources/static/*.woff2
burst-dash/src/main/resources/static/*.txt

burst-services/contents/burst/jars/

burst-motif/gen/
burst-hydra/gen/
burst-motif/src/main/antlr4/org/burstsys/motif/grammar/gen/
burst-motif/src/main/antlr4/org/burstsys/motif/gen/
burst-hydra/src/main/antlr4/org/burstsys/hydra/grammar/gen/
burst-hydra/src/main/antlr4/org/burstsys/hydra/grammar/HydraLexerGrammar.tokens

/burst-api/recording.jfr

thrift/thrift
burst-managed-client/thrift/thrift
burst-catalog/thrift/thrift
burst-agent/thrift/thrift

burst-clients/burst-client-cli/test-files/*
