<?xml version="1.0" encoding="UTF-8"?>
<!--This is the config used by the tests-->
<Configuration status="error" packages="org.burstsys.vitals.logging">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%-5p][%-37t] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${sys:burst.loglevel:-info}" includeLocation="true">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.reflections" level="error"/>
    </Loggers>
</Configuration>



